@import "tailwindcss";

body{
  background-color: #f6e3b3;
}

.macros div{
  padding: 1em;
  border-radius: 6px;
  min-width: 112px;
 display: flex;
 flex-direction: column;
  align-items: center;
}

.macros p:nth-of-type(1){
  padding-top: .8em;
}