@import "tailwindcss";

body{
  background-color: #f6e3b3;
  box-sizing: border-box;
  position: relative;
}

.macros div{
  padding: 1em;
  border-radius: 6px;
  min-width: 92px;
 display: flex;
 flex-direction: column;
  align-items: center;
}

.macros p:nth-of-type(1){
  padding-top: .8em;
}

/* for the meal type containers */
.breakfast-container{
  background-color: rgba(244, 202, 124, 0.456);
  border:solid 1px rgb(232, 156, 16);
}

.breakfast-container .add-icon{
  background-color: rgb(232, 156, 16);
}

.lunch-container{
  background-color: rgba(181, 70, 70, 0.217);
  border: 1px solid red;
}


.lunch-container .add-icon{
  background-color: rgb(153, 19, 19);
}

.dinner-container{
  background-color: rgba(7, 100, 7, 0.143);
  border: 1px solid green;
}

.dinner-container .add-icon{
  background-color: rgb(20, 76, 20);
}

.icon{
  display: flex;
  font-size: .5em;
  align-items: center;
  border-radius: 6px;
  padding:0.5em;
  max-height: fit-content;

}


/* for/in mealOptions */
.breakfast-header{
  background-color: rgb(232, 156, 16);
}

.breakfast-header button{
  background-color: rgba(214, 139, 1, 0.914);
  border: none;
}


.lunch-header{
  background-color: rgb(153, 19, 19);
}

.lunch-header button{
  background-color: rgba(123, 23, 12, 0.556);
  border: none;
}

.dinner-header{
  background-color: rgb(20, 76, 20);
}

.dinner-header button{
  background-color:rgba(19, 55, 19, 0.416) ;
  border: none;
}

.increment,.decrement{
  padding: 0.01em 0.4em;
  border-radius: 6px;
  min-width: 40px;
  text-align: center;
}

.decrement{
  background-color: rgb(224, 220, 214);;
}

.increment{
  background-color: rgba(248, 162, 3, 0.914);;
}

/* trash icon on every added meal */
.trash-icon{
  background: rgba(255, 0, 0, 0.363);
  padding: .25em;
  border-radius: 50%;
}

@media (min-width: 768px){
  button.addMealBtn{
    width: 95vw;
    
  }
}

@media (min-width: 1024px){
 .macros div{
  min-width: 222px;
}

.meal-option-container{
  grid-template-columns: 1fr 1fr ;
}

.addMealBtnContainer{
   justify-content: end;
   width: 100vw;
}

  button.addMealBtn{
    width: 10vw;
    position: relative;
    margin-top: .5em;
  }
}